*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
   
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(130deg,rgb(255, 97, 242),rgb(183, 2, 255),rgb(115, 45, 245));

}

.Inicio_logo{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(130deg,rgb(225, 0, 255),rgb(97, 7, 241));
    z-index: 10;
    display: flex;
    position: absolute;
}

.Inicio_logo img{
    
    border-radius: 200px;
    padding: 8px;
    width: 80px;
    height: 80px;
    

}

.Nombre_red h1{
   width:  auto ;
   height: auto;
   font-size: 1.8em;
   margin-top: 10px;

}


.hidden{
    display: none !important;
}

.informacioninicio{

    border:2px solid white;
    width: 600px;
    max-width: 600px;
    height: auto;
    min-height: 550px;
    position: relative;
    border-radius: 80px;
    box-shadow: 0 0 30px black;
    overflow: hidden;
    margin: 20px;
    background-color: aliceblue;
}
.iniciosesion{
    position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
  transition: all 0.8s ease;
  color: black;
  text-align: center;
  padding: 20px;           
  border-radius: 80px;
  z-index: 1;
  gap: 15px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.registro{
left: 100%;
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgb(234, 195, 236);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
color: black;
overflow-y: auto;
max-height: 100%;
text-align: center;
padding: 20px;
z-index: 1;
border-radius: 140px;
box-sizing: border-box;
display: none;
  background: inherit;

}


.title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 18px;
    

}


.registro form{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 10px 12px 0;
margin-bottom: 20px;
}

form.Registrarse-input{
    margin-bottom: 15px;
    width: calc(100%/2-20px);


}
.Registrarse-input ion-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    font-size: 22px;
    color: #333;
    pointer-events: none;
}
/*.Registrarse-input ion-icon{
position: absolute;
    right: 25px;
    top: 25%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(47,41,41);
    pointer-events: none;

}*/
.Registrarse-input {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    width: 100%;
    height: 40px;

}
.Registrarse-input [type="date"] {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    height: 40px;

}

/*.Registrarse-input{
    position: relative;
    margin-bottom: 25px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 10px;
    width: 100%;
    height: 40px;
   
}*/
.Registrarse-input input{
    border-radius: 10px;
    border:none;
    outline:none;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: black;
    font-weight: 500;
    background-color:rgb(211, 161, 252);
    padding: 10px 55px 13px 20px;
    box-sizing: border-box;
    
}
.Registrarse-input select{
border-radius: 10px;
border: none;
outline: none;
width: 100%;
height: 42px;
color: rgba(0, 0, 0, 0.541);
font-weight: 500;
background-color: rgb(211, 161, 252);
padding: 10px 55px 13px 20px;
font-family: "Montserrat", sans-serif;
 font-size: 16px;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 box-sizing: border-box;

}
.Registrarse-input input::placeholder{
    color:rgb(48, 41, 41);
font-weight: 400;

}
form{
    
    padding: 10px;
    
}


.Modulo2_input{

    position: relative;
    margin-bottom: 25px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    width: 75%;
    max-width: 330px;
    height: 40px;
    margin: 10px auto;
    
}

.Modulo2_input input{
    border-radius: 10px;
    border:none;
    outline:none;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: black;
    font-weight: 500;
    background-color: rgb(211, 161, 252);
    padding: 10px 45px 13px 20px;
}

.Modulo2_input input::placeholder{
    color:rgb(48, 41, 41);
font-weight: 400;

}

.Modulo2_input ion-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(47,41,41);
    

}


.enlace{
    margin: 20px 0 15px; 
}
.enlace a{
    font-size: 16px bold;
    color:rgb(65, 52, 253);
    
    text-decoration: none;
}

.Boton{

     width: 30%;
    height: 40px;
    background: linear-gradient(130deg,rgb(255, 167, 248),rgb(208, 90, 255),rgb(138, 75, 255));
    box-shadow: 0 0 10px rgb(41, 41, 41);
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 248, 248);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 40px;

}

.contenedor-boton{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.BotonR{

    width: 30%;
    height: 40px;
    background: linear-gradient(130deg,rgb(255, 167, 248),rgb(208, 90, 255),rgb(138, 75, 255));
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 248, 248);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.BotonRe{


     width: 30%;
    height: 40px;
    background: linear-gradient(130deg,rgb(255, 167, 248),rgb(208, 90, 255),rgb(138, 75, 255));
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(255, 248, 248);
    font-weight: 600;
    margin-top:0;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}





.logo_principal{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.logo_principal img{
    
    border-radius: 200px;
    padding: 10px;
    width: 80px;
    height: 80px;
    
    
}


small{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top:100% ;
}

@media (max-width: 768px) {
  .informacioninicio {
    width: 90%;
    border-radius: 40px;
    margin: 10px auto;
    padding: 20px;
  }
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    
    .Modulouno {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .Inicio_logo {
        position: relative;
        width: 100%;
        height: auto;
        background: none;
        z-index: 1;
        margin-bottom: 10px;
    }
    
    .Inicio_logo img {
        width: 60px;
        height: 60px;
    }
    
    .Nombre_red h1 {
        font-size: 1.5em;
        margin-top: 5px;
    }
    
    .informacioninicio {
        width: 95%;
        max-width: 400px;
        min-height: auto;
        border-radius: 20px;
        margin: 0 auto;
        padding: 15px;
    }
    
    .iniciosesion {
        padding: 15px;
        border-radius: 20px;
    }
    
    .Modulo2_input {
        width: 90%;
        max-width: 280px;
    }
    
    .Modulo2_input input {
        font-size: 16px; /* Evita zoom en iOS */
        padding: 10px 40px 13px 15px;
    }
    
    .Boton {
        width: 80%;
        max-width: 250px;
        font-size: 18px;
        height: 45px;
    }
    
    .title {
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .enlace {
        margin: 15px 0;
    }
    
    .enlace a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 5px;
    }
    
    .Modulouno {
        margin-bottom: 15px;
    }
    
    .Inicio_logo img {
        width: 50px;
        height: 50px;
    }
    
    .Nombre_red h1 {
        font-size: 1.3em;
    }
    
    .informacioninicio {
        width: 98%;
        border-radius: 15px;
        padding: 10px;
        min-height: 400px;
    }
    
    .iniciosesion {
        padding: 10px;
        gap: 10px;
    }
    
    .Modulo2_input {
        width: 95%;
        margin: 8px auto;
    }
    
    .Modulo2_input input {
        font-size: 16px;
        height: 35px;
        padding: 8px 35px 10px 12px;
    }
    
    .Modulo2_input ion-icon {
        font-size: 18px;
        right: 15px;
    }
    
    .Boton {
        width: 90%;
        height: 40px;
        font-size: 16px;
        margin-top: 8px;
    }
    
    .title {
        font-size: 16px;
        margin-bottom: 12px;
    }
    
    .enlace {
        margin: 10px 0;
    }
    
    .enlace a {
        font-size: 13px;
    }
}

/* Responsive para el formulario de registro */
@media (max-width: 768px) {
    .registro {
        padding: 15px;
        border-radius: 20px;
    }
    
    .form-regis {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    
    .Registrarse-input {
        margin-bottom: 15px;
        height: 35px;
    }
    
    .Registrarse-input input,
    .Registrarse-input select {
        font-size: 16px;
        height: 35px;
        padding: 8px 40px 8px 15px;
    }
    
    .Registrarse-input ion-icon {
        font-size: 18px;
        right: 15px;
    }
    
    .BotonR,
    .BotonRe {
        width: 80%;
        max-width: 250px;
        height: 40px;
        font-size: 16px;
    }
    
    .contenedor-boton {
        margin: 8px 0;
    }
}

@media (max-width: 480px) {
    .registro {
        padding: 10px;
        border-radius: 15px;
        overflow-y: auto;
        max-height: 100%;
    }
    
    .form-regis {
        gap: 12px;
    }
    
    .Registrarse-input {
        margin-bottom: 12px;
        height: 32px;
    }
    
    .Registrarse-input input,
    .Registrarse-input select {
        font-size: 16px;
        height: 32px;
        padding: 6px 35px 6px 12px;
    }
    
    .Registrarse-input ion-icon {
        font-size: 16px;
        right: 12px;
    }
    
    .BotonR,
    .BotonRe {
        width: 90%;
        height: 35px;
        font-size: 14px;
    }
    
    .contenedor-boton {
        margin: 5px 0;
    }
    
    .error-msg {
        font-size: 12px;
        padding-left: 15px;
        margin-top: 3px;
        margin-bottom: 8px;
    }
}

/* Ajustes para tablet en modo apaisado */
@media (max-width: 1024px) and (orientation: landscape) {
    .informacioninicio {
        max-width: 500px;
        min-height: 450px;
    }
    
    .Modulouno {
        margin-bottom: 10px;
    }
    
    .Inicio_logo img {
        width: 40px;
        height: 40px;
    }
    
    .Nombre_red h1 {
        font-size: 1.2em;
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}
.error-msg {
    display: block;
    font-size: 14px;
    color: rgb(255, 0, 0);
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
}
.form-regis {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px; 
    width: 100%;
}



.Cuenta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; /* Para que ocupe todo el alto */
    background: white; 
    display: none; /* Inicia oculto */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Contenido comienza arriba */
    padding: 20px;
    z-index: 5; /* Asegúrate de que esté encima de otros módulos */
    box-sizing: border-box;
}

.Cuenta-header {
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end; /* Mueve el contenido a la derecha */
    position: fixed; /* Fija el encabezado en la parte superior */
    top: 0;
    left: 0;
    z-index: 10;
}

.bienvenida-usuario {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(130deg,rgb(255, 167, 248),rgb(208, 90, 255),rgb(138, 75, 255)); 
    padding: 5px 15px;
    border-radius: 20px;
}


.logo-cuenta {
    width: 40px; /* Logo más pequeño en la esquina */
    height: 40px;
    border-radius: 50%;
}

#nombre-usuario {
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}
.hidden-fade {
    display: none !important;
}

.texto-ayuda {
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 500;
}

/* Estilo específico para el formulario de recuperar contraseña */
#form-recuperar {
    background-color: aliceblue !important;
}