@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
:root {
    --gradient: linear-gradient(45deg, #ff00cc, #3333ff);
    --header-height: 80px; 
}

.devolver {
    padding: 10px; 
    border-radius: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: left;
    font-size: 30px;
    color: white;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.bloque {
  display: flex;
  flex-direction: column;
  height: 100%;   /* ocupa toda la altura */
  width: 100%;    /* ocupa todo el ancho */
  background: #f9f9f9;
}

.titulo-historial {
 background: linear-gradient(45deg, #ff00cc, #3333ff);
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#status-debug {
  padding: 8px;
  text-align: center;
  font-size: 15px;
  color: #580650;
}

#lista-historial {
  flex: 1;                /* ocupa todo el espacio disponible */
  overflow-y: auto;        /* scroll si hay muchos chats */
  padding: 12px;
  background: #fff;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 10px;
  background: #f3f4f6;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.chat-item:hover {
  background: #e0e7ff;
}

.chat-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d1d5db;
  margin-right: 12px;
}

.chat-info {
  flex: 1;
}

.chat-name {
  font-weight: bold;
  color: #111;
}

.chat-last {
  font-size: 13px;
  color: #555;
}

